.centerDiv{
    padding: 25px;
    text-align: center;
    width: 40%;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;

}

.signUp{
    background-color: rgb(186, 185, 185);
}