.tab-group{
    color: gray;
    accent-color: gray;
}

.tableContainer{
    height: 400px;

    overflow-y: scroll;

}

.tableAndPagContainer{
    width: 90%;
    justify-content: center;

    text-align: center;

}

app-child .mat-tab-label{
    color:gray;
    min-width: 24px !important;
    padding: 5px;
       background-color:transparent;
        font-weight: 700;
  }

.scrollableTable{
    overflow-y: scroll;
  }