<p>
    <mat-toolbar color="primary">
      <span>Ordernizer</span>
      <span class="example-spacer"></span>
      
      <button [routerLink]="'home'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button [routerLink]="'about'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>call</mat-icon>
      </button>
      <button (click)="onClickLogin()" *ngIf="(!isLoggedIn())" mat-button class="login-button" aria-label="Example icon-button with share icon">
        <span>Login</span>
      </button>
      <button (click)="onClickLogin()" *ngIf="(isLoggedIn())" mat-button class="logout-button" aria-label="Example icon-button with share icon">
        <span>Logout</span>
      </button>
      
    </mat-toolbar>
  </p>