p {
    font-family: Lato;
  }
  table {
    width: 500;
    margin: auto;
    margin-top: 25px;
  }
  .btn-edit {
    text-align: left;
  }
  .edit-header {
    padding: 0;
    margin: 0;
    color: blue;
  }
  .value-row {
    float: left;
    padding: 0;
    margin: 0;
    
  }
  h2 {
    text-align: center;
    padding-top: 20px;
  }
  
  .table-header {
    width: 90%;
    margin: auto;
    text-align: right;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .button-add-row {
    background: #1b9e1b;
    color: #ffffff;
  }
  
  .button-remove-rows {
    background: red;
    color: #ffffff;
    margin-right: 5px;
  }
  
  .button-remove {
    color: red;
  }
  .editButton {
    color:blue($color: blue);

  }
  
  ::ng-deep .mat-form-field-infix {
    width: 100% !important;
  }
  
  .form-input {
    padding-right: 5px;
  }
  .mat-column-test{
    color: blue;
    width: 17% !important
  }
  .tableContainer{
    width: 50%
  }
  