<article class="table-header">
    <div>
      <i>All orders</i>
    </div>
    <div>
      <button class="button-remove-rows" mat-button (click)="addRow()">
        Record Orders
      </button>
      <button class="button-add-row" mat-button (click)="addRow()">
        Records Sales
      </button>
    </div>
  </article>
  <div class="tableContainer">
  <table mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      
      <th mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
  
        <div class="edit-header" *ngSwitchCase="'units_remaining'">
          <button class='editButton' mat-button (click)="editStock = !editStock">
            In Stock
          </button>
        </div>
        <div class="edit-header" *ngSwitchCase="'shipment'">
          <button mat-button mat-button (click)="editShipment = !editShipment">
            Enter Shipment
          </button>
        </div>
        <div class="edit-header" *ngSwitchCase="'sale'">
          <button mat-button mat-button (click)="editSale = !editSale">
            Enter Sale
          </button>
        </div>
        <span *ngSwitchDefault>{{ col.label }}</span>
      </th>
  
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="col.key">
  
          <span *ngSwitchCase="'product'">
            
            <div *ngIf="editing && element[col.prod_secondary];else other_content">
              <mat-form-field class="form-input">
                <input matInput [required]="col.required" [pattern]="col.pattern" [type]="col.type"
                  [(ngModel)]="element[col.key]" (change)="inputHandler($event, element.id, col.key)" />
              </mat-form-field>
            </div>
            <ng-template #other_content>{{ element[col.key] }}</ng-template>
          </span>
  
        </div>
  
        <div [ngSwitch]="col.key" *ngIf="!editStock">
          <span *ngSwitchCase="'units_remaining'">
            {{ element[col.key] }}
          </span>
        </div>
        <div [ngSwitch]="col.key" *ngIf="!editShipment">
          <span *ngSwitchCase="'shipment'">
            {{ element[col.key] }}
          </span>
        </div>
        <div [ngSwitch]="col.key" *ngIf="!editSale">
          <span *ngSwitchCase="'sale'">
            {{ element[col.key] }}
          </span>
        </div>
  
        <div [ngSwitch]="col.key" *ngIf="editStock">
          <mat-form-field class="form-input" *ngSwitchCase="'units_remaining'">
            <input matInput [required]="col.required" [pattern]="col.pattern" [type]="col.type"
              [(ngModel)]="element[col.key]" (change)="inputHandler($event, element.id, col.key)" />
          </mat-form-field>
        </div>
        <div [ngSwitch]="col.key" *ngIf="editShipment">
          <div *ngSwitchCase="'shipment'">
            <mat-form-field class="form-input" *ngSwitchCase="'shipment'">
              <input matInput [required]="col.required" [pattern]="col.pattern" [type]="col.type"
                [(ngModel)]="element[col.key]" (change)="inputHandler($event, element.id, col.key)" />
            </mat-form-field>
            <mat-form-field class="form-input" *ngSwitchCase="'shipment'">
              <input matInput [required]="col.required" [pattern]="col.pattern" [type]="col.type"
                [(ngModel)]="element[col.ship_secondary]" (change)="inputHandler($event, element.id, col.ship_secondary)" />
            </mat-form-field>
        </div>
        </div>
        <div [ngSwitch]="col.key" *ngIf="editSale">
          <div *ngSwitchCase="'sale'">
            <mat-form-field class="form-input" *ngSwitchCase="'sale'">
              <input matInput [required]="col.required" [pattern]="col.pattern" [type]="col.type"
                [(ngModel)]="element[col.key]" (change)="inputHandler($event, element.id, col.key)" />
            </mat-form-field>
            <mat-form-field class="form-input" *ngSwitchCase="'sale'">
              <input matInput [required]="col.required" [pattern]="col.pattern" [type]="col.type"
                [(ngModel)]="element[col.secondary]" (change)="inputHandler($event, element.id, col.secondary)" />
            </mat-form-field>
        </div>

        </div>
      </td>
  
      <td mat-footer-cell *matFooterCellDef> 
        <div [ngSwitch]="col.key" *ngIf="editStock">
          <button mat-button mat-button (click)="editStock = !editStock" *ngSwitchCase="'units_remaining'">
            Cancel
          </button>
          <button mat-button (click)="submitInventory()" *ngSwitchCase="'units_remaining'">
            Done
          </button>
        </div>
        <div [ngSwitch]="col.key" *ngIf="editShipment">
          <button mat-button mat-button (click)="cancel()" *ngSwitchCase="'shipment'">
            Cancel
          </button>
          <button mat-button (click)="submitShipment()" *ngSwitchCase="'shipment'">
            Done
          </button>
          <button mat-button (click)="addRow()" *ngSwitchCase="'shipment'">
            Add Item
          </button>
        </div>
        <div [ngSwitch]="col.key" *ngIf="editSale">
          <button mat-button mat-button (click)="editSale = !editSale" *ngSwitchCase="'sale'">
            Cancel
          </button>
          <button mat-button (click)="submitSale()" *ngSwitchCase="'sale'">
            Done
          </button>
        </div>
      </td>
  
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  
  </table>
  </div>